<ion-header>
  <ion-navbar>
    <ion-title>
      <!-- <ion-input [(ngModel)]="username" placeholder="Username"></ion-input> -->
      Comments
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item>
      <p align="center" style="color:#bab3ad">
        Pull to add more
      </p>
    </ion-item>
    <div *ngFor="let data of comments">
      <ion-item>
        <h3>
          <strong>{{data.user.Username}} <span *ngIf="data.idUser === idadmin" style="color:green">Admin</span></strong>
          <span style="font-size:8px">{{data.tanggal}}</span>
        </h3>
        <p>
          {{data.commentcontent}}
        </p>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
<ion-footer>
  <form #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col col-10>
          <ion-textarea [(ngModel)]="textcomment" elastic name="Text" required placeholder="type here..."></ion-textarea>
        </ion-col>
        <ion-col col-2>
          <button (click)="commentSend(f.value, f.valid)" ion-button color="light" [disabled]="f.valid === false" icon-only>
            <ion-icon name="send"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-footer>
