<!--
  Generated template for the AllChat page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>AllChat</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<ion-list>
  <div *ngFor="let item of chats">
    <ion-item (click)="goToChat()">
      <ion-avatar item-left>
        <img src="{{item.user.foto_profil}}">
      </ion-avatar>
      <h2 >{{item.user.Username | slice:0:30}}<span *ngIf="item.user.Username.length >= 30">...</span><span color="gray" style="font-size: 8px; float:right">{{item.tanggal}}</span></h2>
      <p>{{item.chat}}</p>
    </ion-item>
  </div>
</ion-list>
</ion-content>
